@font-face {
  font-family: Hellix;
  font-weight: 700;
  src: url('../fonts/Hellix-Bold.otf');
}
@font-face {
  font-family: "Hellix";
  font-weight: 500;
  src: url('../fonts/Hellix-Medium.otf');
}
@font-face {
  font-family: "Hellix";
  font-weight: 400;
  src: url('../fonts/Hellix-Regular.otf');
}
@font-face {
  font-family: "Hellix";
  font-weight: 300;
  src: url('../fonts/Hellix-Light.otf');
}
@import '_variable';
@import "_slider";
@import "_header-footer";
@import "_advantages";
@import "_main";
body {
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Hellix", Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 100%;
}

.container {
  padding: 0 20px;
  width: 100%;
  max-width: $MAX_WIDTH;
  margin: 0 auto;
  @media (max-width: 1599px) and (min-width: $DESKTOP_L) {
    max-width: 1300px;
  }
  @media (max-width: $DESKTOP_L - 1px) and (min-width: $DESKTOP_START) {
    max-width: 1000px;
  }
  @media (max-width: $DESKTOP_START - 1px) and (min-width: $TABLET_START) {
    max-width: 750px;
    padding: 0 10px;
  }
}
.txt-bold {
  font-weight: 700;
}
.txt-medium {
  font-weight: 500;
}
.txt-regular {
  font-weight: 400;
}
.txt-light {
  font-weight: 300;
}

.button-primary {
  border: 2px solid;
  padding: 13px 42px 18px 45px;
  border-radius: 30px;
  font-size: 21px;
  text-decoration: none;
  font-weight: 300;
  @media (max-width: 1599px) and (min-width: $DESKTOP_L) {
    padding: 8px 25px 12px 25px;
    font-size: 17px;
  }
  @media (max-width: $DESKTOP_L - 1px) and (min-width: $DESKTOP_START) {
    padding: 8px 20px 12px 20px;
    font-size: 15px;
  }
  @media (max-width: $DESKTOP_START - 1px) and (min-width: $TABLET_START) {
    padding: 6px 18px 9px 18px;
    font-size: 13px;
  }
}
.btn-painted {
  background-color: $orange;
  color: $white;
  border-color: $orange;
}
.btn-transparent {
    color: $orange;
    border-color: $orange;
  &:hover{
    background-color: $orange;
    color: $white;
    transition: all 0.5s;
  }
}
