@import "_variable";

.main {
  .help {
    &--title {
      width: 1233px;
      max-width: 100%;
      padding-top: 80px;
      margin-bottom: 160px;
      font-size: 40px;
      p {
        margin-bottom: 10px;
      }
    }
    .reverse {
      flex-direction: row-reverse !important;
      .help--item--advice::after {
        content: none;
      }
      .help--item--advice::before {
        content: "";
        position: absolute;
        top: 70px;
        right: -50px;
        border: 40px solid transparent;
        border-top: 40px solid $main-gray-lighter;
        border-left: 40px solid $main-gray-lighter;
      }
    }
    &--item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 110px;
      &--person {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
        img {
          width: 302px;
          margin-bottom: 22px;
        }
        .help-person-name {
          max-width: 350px;
          margin-bottom: 15px;
          font-size: 30px;
          color: $main-gray;
        }
        .help-person-position {
          max-width: 230px;
          font-size: 24px;
          line-height: 29px;
          color: $main-gray;
        }
      }
      &--advice {
        position: relative;
        max-width: 1000px;
        border-radius: 35px;
        background-color: #f6f2f1;
        .advice--inner {
          padding: 64px 100px 63px 85px;
          &--title {
            font-size: 40px;
            line-height: 48px;
          }
          &--quote {
            position: relative;
            margin-top: 30px;
            margin-bottom: 22px;
            font-size: 24px;
            line-height: 30px;
            color: $main-gray;
            img {
              position: absolute;
              width: 27px;
              top: -5px;
              left: -40px;
            }
          }
          &--more {
            text-decoration: none;
            font-size: 25px;
            line-height: 30px;
            color: $orange;
          }
        }
      }
      .help--item--advice::after {
        content: '';
        position: absolute;
        top: 70px;
        left: -50px;
        border: 40px solid transparent;
        border-top: 40px solid $main-gray-lighter;
        border-right: 40px solid $main-gray-lighter;
      }
    }
    .more-usecase {
      margin-top: -45px;
      margin-bottom: 104px;
      font-size: 24px;
      line-height: 30px;
      a {
        text-decoration: none;
        color: $orange;
      }
    }
  }
  .facts {
    background-color: $main-gray;
    &--inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &--fact {
      max-width: 300px;
      padding: 117px 0;
      span {
        font-size: 60px;
        line-height: 72px;
        color: $orange;
      }
      p {
        font-size: 24px;
        line-height: 28px;
        color: $white;
      }
    }
  }
  .info {
    &--title {
      width: 1233px;
      max-width: 100%;
      padding-top: 80px;
      margin-bottom: 83px;
      .info-ttl {
        font-size: 40px;
      }
      p {
        font-size: 24px;
        line-height: 30px;
        margin-top: 10px;
      }
    }
    .courses {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 110px;
      .course {
        max-width: 450px;
        &--title {
          margin-bottom: 15px;
          font-size: 25px;
          line-height: 30px;
        }
        &--information {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 25px;
        }
        &--link {
          text-decoration: none;
          font-size: 25px;
          line-height: 30px;
          color: $orange;
        }
      }
    }
  }
}
